.blue-form {
      background-color: white;
      color: #300D38;
      padding: 20px;
      text-align: left;
    }




    .file-input-label {
        text-decoration: none;
      color: #333;
      padding: 5px;
      border: 1px solid #333;
      border-radius: 5px;
    }
    /* Container for the label and input */
        .form-container {
            text-align: center;
        }

        label {
            font-size: 24px; /* Increase font size */
            display: block; /* Put on a separate line */
            margin-bottom: 20px; /* Some space after the label */
        }

        input[type="text"] {
            font-size: 20px; /* Increase font size */
            padding: 10px 15px; /* Inner spacing for comfort */
            width: 270px; /* Set a specific width */
            border-radius: 5px; /* Round corners */
            border: 2px solid #ccc; /* Border color */
        }
        input[type="button"] {
            font-size: 20px; /* Increase font size */
            padding: 10px 15px; /* Inner spacing for comfort */
            width: 150px; /* Set a specific width */
            border-radius: 5px; /* Round corners */
            border: 2px solid #ccc; /* Border color */
        }

        .relative {
        position: relative;
        width: 100%;
        max-width: 410px;
        margin: 0 auto;
    }

        .btn {
            background-color: #fcb900;
            border: none;
            color: #333;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }

        .btn--deep-purple {
            background-color: ##300D38;
        }

        .btn__primary {
            color: #fcb900;
        }
        .search-input {
    width: 100%;
    padding: 10px 0px;
    padding-left: 20px;
    padding-right: 0px;  /* Adjust the padding so that the text doesn't go behind the button. */
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 20px; /* Rounding the edges */
}

    .search-btn {
    position: absolute;
    right: 0;  /* Position it close to the right edge of the input */
    top: 50%;
    transform: translateY(-50%);
    background-color: #300D38;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px; /* rounded edges */
    cursor: pointer;
    display: none; /* initially hidden */

}

#resultsContainer {
    margin-top: 30px;
    text-align: center; /* Center the textual content */
    width: 100%;
    max-width: 410px; /* Same width as the .relative class for the search bar */
    margin-left: auto;
    margin-right: auto;
}

#resultsList {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
}

#resultsList li {
    border: 2px solid #ccc; /* Adjust the thickness by increasing the pixel value */
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px; /* Rounded corners */
    background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background */
}


#resultsList li:hover {
    background-color: rgba(255, 255, 255, 0.3); /* Slightly more opaque on hover */
}

.category-btn {
    background-color: #0f2044;  /* Dark blue background */
    color: #fcb900;  /* Yellow text */
    border: none;  /* Remove default border */
    padding: 0;  /* Removing padding, since we'll define a width and height */
    margin: 5px;  /* Margin between each button */
    width: 120px;  /* Define a width for the square */
    height: 120px;  /* Define a height to match the width, making it square */
    border-radius: 5px;  /* Slightly rounded corners */
    font-size: 14px;  /* Font size */
    cursor: pointer;  /* Change cursor to a hand when hovering over */
    transition: background-color 0.3s, transform 0.3s;  /* Smooth transition for hover and active states */
    display: flex;  /* Making use of Flexbox */
    justify-content: center;  /* Center content horizontally */
    align-items: center;  /* Center content vertically */
}

.category-btn:hover {
    background-color: #fcb900;  /* Yellow background on hover */
    color: #0f2044;  /* Dark blue text on hover */
}

.category-btn:active {
    transform: scale(0.95);  /* Slightly shrink the button when clicked */
}