<!DOCTYPE html>
<html>
<head>
  <title>Image Classification</title>
  <link rel="stylesheet" type="text/css" href="/static/css/img_style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!--  <style>-->

<!--  </style>-->

<style>
        header a {
            float: right;
            margin-right: 10px;
             color: #300D38 /* Optional: Add some margin to the right for spacing */
        }
    </style>

</head>

<body>
    <header>
        <h1 id="title">Fetch Rewards</h1>
<!--        <a href = "/data_exp" >Data Exploration</a>-->
    </header>
    <div class="main-container">

    <div class="form-container">
    <label for="image-name">Find Your Favourite Deals</label>
    <div class="relative">
        <input title="Search Product, Brand or Category"
               class="search-input inline-block w-full rounded-full border-[2px] border-gray-light py-2 pr-6 pl-12 text-[14px] shadow-[0px_2px_10px_rgba(0,0,0,0.25)] focus:border-fetch-dark-purple focus-visible:outline-none sm:text-[19px] md:py-3"
               id="image-name"
               oninput="toggleSearchBtn()"
               placeholder="Search Product, Brand or Category">
        <button onclick="Search()" class="search-btn">SEARCH</button>
    </div>

</div>

    <!-- Display JSON data here -->
    <div id="resultsContainer">
<!--        <h2>Results</h2>-->
        <p id="originalWord"></p>
        <p id="bestMatch"></p>
        <p id="similarityScore"></p>
        <ul id="resultsList"></ul>
    </div>
        <div>  <br> </div>
<!--        <div>Or Click on any of the following</div>-->
        <label style = "text-align: center">Or Click on any of the following</label>
        <div class="category-buttons">
        <!-- Buttons will be populated here dynamically using JavaScript -->
    </div>


    </div>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

    <script>
    function toggleSearchBtn() {
        const inputVal = document.getElementById('image-name').value;
        const searchBtn = document.querySelector('.search-btn');
        if (inputVal.trim()) {
            searchBtn.style.display = 'block';
        } else {
            searchBtn.style.display = 'none';
        }
    }
    // ... Your existing scripts ...
    categories = [
    "Alcohol",
    "Snacks",
    "Beauty",
    "Frozen",
    "Beverages",
    "Pepsi",
    "Gatorade",
    "Butterball",
    "Ben and Jerrys",
    "Beyond Meat",
    "Walmart",
    "Caseys",
    "Amazon",
    "Target",
    "Albertsons",
];
    function quickSearch(category) {
        document.getElementById('image-name').value = category;
        Search();
    }
// Get the container where we want to append the buttons
    const container = document.querySelector('.category-buttons');

    // Create a button for each category and append it to the container
   categories.forEach(category => {
    const btn = document.createElement('button');
    btn.innerText = category;
    btn.onclick = () => quickSearch(category);
    btn.className = "category-btn"; // Assign the category-btn class to the button
    container.appendChild(btn);
});

        function Search() {
        var search_item = document.getElementById("image-name").value;
            console.log(search_item);
            var search_dict = { "search_query": search_item };

            $.ajax({
                url: '/search',
                data: JSON.stringify(search_dict),
                type: 'POST',
                contentType: "application/json",
                dataType: 'json',
                success: function (response) {
                    console.log("success");
                    if (response.redirect) {
                        window.location.href = response.redirect;
                    } else {
                        // Assuming the response body has the JSON data
                        populateResults(response);
                    }
                },
                error: function (data2) {
                    console.log(data2);
                }
            });
        }

        function populateResults(data) {
            document.getElementById("originalWord").textContent = data['Original Word'];
            document.getElementById("bestMatch").textContent = data['Best Match'];
            document.getElementById("similarityScore").textContent = data['Similarity Score'];

            var resultsList = document.getElementById("resultsList");
            resultsList.innerHTML = ""; // Clear previous results
            data.results.forEach(function(result) {
                var li = document.createElement("li");
                li.textContent = result;
                resultsList.appendChild(li);
            });
        }
    </script>
</body>

</html>
